
/*new querries petit ecran */                               

@media all and (max-width: 600px){  

/*aside responsive*/

.monaside
{
 width: 100%;
 }

.parafasidemid
{
 text-align: center;
 padding-bottom: 20px;
}
.parafaside

{
 margin-bottom: 20px;
}

.icons
{
 padding-bottom: 25px;
 padding-top: 5px;
 margin-right: 50px;
}
.monicone
{

}

/*section responsive*/

.titreentreprise
{
 padding-top: 20px;
}

.datearticle
{
 width: 70%;
 margin-top: 6px;
 color:rgb(62,60,68);
 font-weight: bold;
 padding-left: 0px;
}

}
.ensemble1
{
 flex-direction: column;
 text-align: center;
 margin-left: 95px;
 }

.ensemble1 i
{
  margin-right: 140px;
}

.recommand
{
 margin-right: 40px; 
}
 
}
