
/*new querries petit ecran */                               

@media all and (max-width: 600px){  

/*aside responsive*/

aside
{
  width: 100%;
}

.parafasidemid
{
  text-align: center;
  padding-bottom: 20px;
}

.parafaside
{
  margin-bottom: 20px;
}

.icons
{
  padding-bottom: 25px;
  padding-top: 5px;
  margin-right: 50px;
}

/*section responsive*/

.titreentreprise
{
  padding-top: 20px;
}

.datearticle
{
  width: 70%;
  color:rgb(62,60,68);
  font-weight: bold;
  padding-left: 0px;
}

}
.ensemble1
{
  flex-direction: column;
  margin-left: 0px;
}

article
{
  margin-left: 0px;
}

.recommand
{
  margin-right: 40px; 
}
 
 .blocrecommand
 {
   display: block;
 }

}
