

/*DEFINITION DE LA POLICE*/


@font-face {
  font-family: 'robotoregular';
  src: url('../font/Roboto-Regular-webfont.woff');
 }



/*ELEMENTS PRINCIPAUX*/

body                                                          
{
  font-family: 'robotoregular';
  max-width: 950px;
  margin: auto;
  border-right: 1px solid rgb(197,112,112);
  border-left: 1px solid rgb(197,112,112);
}

.bloc_page
{            
  display: flex;        
}


             
/*BODY*/


/*ASIDE*/


aside                                    
{
  width: 33%;
  background-color: rgb(197,112,112);                            
}

.logo
{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}

.logo img    
{
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgb(62,60,68);  
}

.icons
{
  text-align: center;
  font-size: 40px;
  padding-top: 5px;
  color: rgb(62,60,68);
}

.monicone
{
  padding: 10px;
  border: 2px solid rgb(62,60,68);
  border-radius: 50% 50%;
  width: 40px;
  margin-left: 10px;
}

.titaside   
{
  text-align: center;
  color:rgb(197,112,112);
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: .4px;
  background: rgb(62,60,68);
}

.parafasidemid        
{
  text-align: justify;
  padding-right: 30px;
  padding-bottom: 1060px;
  padding-left: 30px;               
  color: rgb(62,60,68);
}

.parafaside
{
  color: rgb(62,60,68);
}

.add         
{
  list-style: none;
  padding-left: 20px;
}

.tel
{
  list-style: none;
  padding-left: 20px;
}

.site
{
  list-style: none;
  padding-left: 20px;
}

.skype
{
  list-style: none;
  padding-left: 20px;
  padding-bottom: 10px;
}


/*SECTION*/

section
{
  padding-left: 6%;
}

.letitreprincipal    
{                             
  padding-top: 70px;
}

h1    
{ 	                
  font-family:trebuchet,arial;
  font-size: 2.5em;
  font-weight: normal;
  color: rgb(1,14,5);
  margin-bottom: 0;
}

h2
{
  margin-top: 0px;
  color: rgb(62,60,68);
}

h3
{
  color: rgb(62,60,68);
}

.prenom   
{
  color: rgb(197,112,112); 
  margin-right: 10px;
}

.dev
{
  border-bottom: 1px rgb(197,112,112) solid;
}

.titreimage i   
{
  color: rgb(197,112,112);
  margin-right: 25px;
  font-size: 27px;
}

.ensemble1 i
{
  color: rgb(197,112,112);
  padding-top: 10px;
}

.facircle
{
  font-size: 9px;
}

.blocArticle
{
  margin-top: 75px;
}

.ensemble1            
{
  display: flex;
}

.article     
{
  margin-bottom: 20px;
  width: 60%;
  margin-left: 5%;
}

.titarticle   
{
  font-size: 1.3em;
  padding: 0 0 8px 15px;
  text-transform: uppercase;
  border-bottom: 1.5px rgb(197,112,112) solid;
  color:rgb(1,14,5);
}

.datearticle 
{
  width: 40%;
  margin-top: 6px;
  color:rgb(62,60,68);
  font-weight: bold;
  padding-left: 10px;
}

.titreentreprise         
{                    
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-top: 3px;
  padding-top: 3px;
  color:rgb(62,60,68);
}

.para                      
{
  color:rgb(62,60,68);
}

.date
{
  list-style: none;
}
        
.lieux
{
  list-style: none;
}

.ul
{
  list-style: none;
  padding-left: 0px;
}

.blocrecommand
{
  display: flex;
}

.recommand
{
  padding-bottom: 5px;
  padding-right: 80px;
  color: rgb(62,60,68);
}









