

/*definition de la police*/

font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






/*ELEMENTS PRINCIPAUX*/

body                                                          
{
	
	font-family: 'robotoregular';
  max-width: 900px;
  margin: auto;
  border-right: 1px solid rgb(92,138,77);
  border-left: 1px solid rgb(92,138,77);

	

}


section,aside   /* je considere que ma section se compose dun article avec 
                                     3 parties form exp et recom , un aside en 3 parties*/

{
  text-align: justify;
}





.bloc_page
      {            
           display: flex;
         /* align-items: stretch;*/


}





                  
/*body*/

/*section*/


.letitreprincipal    

{                             


padding-left: 30px;
padding-top: 60px;
  line-height: 3%;

}


h1    

 {



 display: flex;
 	                
font-family:trebuchet,arial;
font-size: 2.5em;

font-weight: normal;
color: rgb(1,14,5);
         /* quand je change la margin top de header larticle descend*/



 }



 .prenom   
 {
  display: flex;
color: rgb(92,138,77); 
margin-right: 10px;

 }

.dev
{
 border-bottom: 1px rgb(92,138,77) solid;

}





.titreimage i   /*icones titres */

{

color: rgb(92,138,77);
 


}




.icondot
{
/*display: inline-block;*/
color: rgb(92,138,77);

font-size: 11px;

padding-left: 60px;
padding-top: 10px;
}

.iconcircle

{
 
color: rgb(92,138,77);
padding-left: 60px; 
padding-top: 10px;
font-size: 6px;
}


           


.blocArticle
{


margin-right: 50px;



}

.ensemble1            
{
display: flex;




}

.form1       


{
/*display: block;                                        
flex-direction: column;*/
margin-bottom: 20px;


}




.titarticle   /* h3*/
{
margin-left: 30px;       
margin-top: 80px;

/*display: flex;*/
font-size: 1.3em;
padding: 0 0 8px 15px;
text-transform: uppercase;

border-bottom: 1.5px rgb(92,138,77) solid;
  

}

.titarticle2   /* h3*/
{
margin-left: 30px;       
margin-top: 2px;

display: flex;
font-size: 1.3em;
padding: 0 0 8px 15px;
text-transform: uppercase;

border-bottom: 1.5px rgb(92,138,77) solid;



}

.datearticle 
{
                   
/*flex-direction: column;*/            

min-width: 180px;

margin-top: 3px;
padding-top: 3px;

 
color:rgb(62,60,68);
font-weight: bold;
padding-left: 10px;

}
.pointdate

{
display: flex;


}

.titreentreprise     /* h4*/    
{                    
/*display: flex;
flex-direction: column;*/
margin-bottom: 0px;
text-transform: uppercase;
margin-top: 3px;
padding-top: 3px;
                  
color:rgb(62,60,68);

}



.para                      
                              
{

 /* display: block;  */ 
 /* padding-left: 0px; */          
                                  
  /*flex-direction: column;*/
  color:rgb(62,60,68);

   
 /* align-items: center;  */
  

  }




.date

{
list-style: none;


}
        
.lieux
{
list-style: none;



}

  .ul

  {

    list-style: none;
    /*display: block;*/
    padding-left: 0px;
  }




.blocrecommand

{

display: flex;


justify-content: space-around;



}

.recommand
{

  
  padding-bottom: 5px;
  /*flex-direction: column; */
  
}


.recommand2

{


padding-bottom: 5px;

}


.emailrec

{
color:rgb(62,60,68);
line-height: 0px;



}
.contactR
{

line-height: 0px;

}







aside                                      
{
	   
  
  
  width: 33%;

  background-color: rgb(92,138,77);                            
  font-size: 1em;
                
}

.logo

{

text-align: center;
padding-top: 40px;
padding-bottom: 20px;

}

.logo img    
 {
 
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgb(62,60,68);
     
 	}




.icons
{
display: flex;
justify-content: space-around;
font-size: 40px;
padding-top: 30px;
padding-bottom: 30px;


}





.titaside   
{

	
	text-align: center;
	color:rgb(92,138,77);
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: .4px;
	 background: rgb(62,60,68);


}




.asideapropos
{
/*flex-grow: 3;*/
    
}

.parafasidemid        
{


text-align: justify;
padding-top:20px;
padding-right: 20px;
 padding-bottom: 685px;
 padding-left: 20px;               
color: rgb(62,60,68);





}



.parafaside

{
              



                            
padding-top:20px; 
padding-left: 0px;              
color: rgb(62,60,68);

}


.asideloisir
{


}


.add         
{

list-style: none;
padding-left: 20px;
}

.tel
{
list-style: none;
padding-left: 20px;

}

.site
{
list-style: none;
padding-left: 20px;

}

.skype
{
list-style: none;
padding-left: 20px;

}





/* new query test*/                                

@media all and (max-width: 1024px) and (min-width: 841px)

  {




h1
{
display: flex;
  justify-content: center;
}


.letitreprincipal
{
text-align: center;

}
  

.bloc_page
  {
    width: auto;
    margin:auto;
    /*display: flex;*/
    flex-direction: column-reverse;
    
}

aside
{

  width: auto;
  margin: auto;
  
}



.asidecontact
{
text-align: center;

}


.titaside
{

  margin-top: 0;
}

.parafasidemid
{

  text-align: center;
  padding-bottom: 20px;
}

.parafaside

{
padding-bottom: 20px;


}

.icons
{
padding-bottom: 25px;
padding-top:25px;
}

.blocArticle
{

  width: auto;
  margin: auto;
  padding-bottom: 10px;
}
.titarticle
{

  margin-right: 30px;
}

.titarticle2

{
margin-right: 30px;

}

.form1
{

 /* margin-right: 30px;*/
 margin-left: 50px;
}


.ensemble1
{
margin-left: 50px;

}
.blocrecommand
{
/*display: flex;*/
flex-direction: column;
text-align: center;

}

}


/*new querries petit ecran */                               

@media all and (max-width: 840px)



  {
h1
{
display: flex;
  justify-content: center;
}


.letitreprincipal
{
text-align: center;

}
  

.bloc_page
  {
    width: auto;
    margin:auto;
    
    flex-direction: column-reverse;
    
}

aside
{

  width: auto;
  margin: auto;
  
}



.asidecontact
{
text-align: center;

}


.titaside
{

  margin-top: 0;
}

.parafasidemid
{

  text-align: center;
  padding-bottom: 20px;
}
.parafaside

{
 margin-bottom: 20px;

}
.icons
{
padding-bottom: 25px;
padding-top: 25px;
}


.blocArticle
{                               /* autoauto padbottom*/
  
  margin: 0px 2px;


}


.titreentreprise

{
padding-top: 20px;

}

.pointdate

{
padding-right: 150px;
margin-left: 0px;

}

.datearticle

{


/*margin: auto;*/ /* je viens de changer*/

width: 160px;

}


.titarticle
{

  margin-right: 30px;
}

.titarticle2
{
margin-right: 30px;

}

.form1
{                                                  /*margn left 50*/

  /*margin:auto;*/
  padding-top: 15px;
  padding-bottom: 15px;


  

  margin-left: 50px;
  


}

.ensemble1
{

flex-direction: column;
/*padding-top: 10px;   /*je viens de changer*/
/*align-items: center;*/



}

.blocrecommand
{
/*display: flex;*/
flex-direction: column;

}

.recommand

{

  margin: auto;
}

.recommand2
{
margin: auto;

}
h4
{

  margin-top: 5px;



}



}
}






/* remarque: paragraphe a propos de moi doit etre 2 fois plus grand*/;





/*resumé des soucis!
:
- pour le header 

elsa est accolé a de fursac , pb de div?
mise en page pas bonne

-pour l'article
les paragraphes ne sont pas a coté de la date   ,,  ok
les titres ne sont pas au niveau des dates  et pas bien soulignés   ok
au4/07 : bien cote a cote mais titre pas sous formation  paragraphe va une peu dans 
tous les sens!

au 08/07: nouvelles dimensions grace a la maquette , 
probleme de marge titre et paragraphes.... jai mis des max widht et height à
mes conteneurs c'est peut être ça le soucis qui fait que tout se resserre ;

au 10 : tjs pas reglé le soucis, il faut aussi un espace entre titre du paragraphe;
et paragraphe faut creeer une div 
au 16 : modif du html tout descend;

- pour aside ,==> now le seul element en position absolute
ne fait pas toute la page
les paragraphes sont mal positionnés ,faut mettre margin mais 
ni arrive pas
 au 16 remonte totalement 
 lensemble par en vrille!


==>
jai mis en absolute va en haut a gauche super mais recouvre une partie de larticle qui fini
par aller en dessous de laside , et ne prend pas toute la hauteur de la page

==>jai ensuite mis un min height au lieu de max height et hop ca prend toute la page 
merveilleux!
mais non.
ca bouffe mon article .... qui parait pas assez large et mon aside trop large pourtant jai p
pris les mesures de la maquette.
larticle est en dessous je crois
 je pense avoir un probleme avec les min et max wh 

 ==> jai mis une marge a gauche pour mon article et cest ok 
 du coup niveau dimension ca correspond plus vraiment au cv de base */



/*au 15/07  objectifs
- travail sur les parafaside ; reussi a les mettre a gauche ,
 maintenant je souhaite quils soeint en haut
 test avec text aline ; vertical aline ,aline items  marche pas






 - remettre les titresarticle de exp et recom comme formation
 car tout est décalé sous laside : quand je mets article en postion fixed
 seul formation et son paragraphe sont fixe! comme si le reste n'appartenait pas a la
 section  c bizzaaaare;





 - travail sur article titre et paraf doivent etre colonne bien aligné

ahaha et ba jai modifié tous le html de mon article!
gros b* puis sa fini par ressembler a quelque chose 
la liste a puce sans puce me compliquait la vie 




 -mettre en place media query*/

/*au 16/ 07
jai fait des modifs hier de mon html ou 
javais des li pour creeer mon article. javais du mal a les mettre en place 
alors jai tt changé
ce qui en ressort: mon article va jusquen bas et laside remonte en haut!
la mise en page est pas bonne ; blocage par rapport a ça
jaimerai mettre ca sur git , corriger avec visual mais 
ne sais pas sen servir peur de tt supprimer*/




